
.page {
    display: grid;
    grid: 98vh / 1fr 4fr;
    overflow: hidden;
}
.season {
    text-align: center;
    padding-top:5vh;
    font-size:4vw;

}
.wrapper {
    overflow: scroll;
}
img {
    width:100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    font-size:medium;
    padding-right:5vh;
    padding-bottom:inherit;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding-right:5vh;
    padding-bottom:inherit;
}
