body{
    overflow:hidden;
}

.page {
    display: grid;
    grid: 100vh / 1fr 4fr;
}
.season {
    text-align: center;
    font-size: 3vw;
    width: 20vw;
}
.wrapper {
    position:relative;
    top:0px;
    left: 0px;
}
#map-container {
    position: relative;
    top:0px;
    left: 0px;
}
#map {
    width:100%;
}

#temp{
    width: 30px;
    position: absolute;

}

.arrow {
    width:20px;
    position:absolute;
}
.area {
    background-color: blue;
    opacity:.2;
    position: absolute;
}

#pop-up{
    max-height: 40vh;
    width: 20vw;
    position:absolute;
    bottom:1vh;
}
#pop-up-image{
    max-height:15vh;
    max-width: 20vw;
}
#tab{
    padding-left:40px;

}
#words{
    max-height:24vh;
    font-size:.4em;
    width: 20vw;
    overflow:auto;
    text-align: justify;
    
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}